openapi: 3.0.0
info:
  version: 1.0.0
  title: ColumbusX.com
  termsOfService: 'https://example.com/terms/'
  contact:
    email: contact@columbusx.com
    url: 'http://columbusx.com/contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://apis.guru/openapi-template/logo.png'
  description: >
    This is an **columbusx.com** API to demonstrate features of OpenAPI
    specification

    # Introduction

    This specification is intended to to be a good starting point for describing
    your API in 

    [OpenAPI/Swagger
    format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md).

    It also demonstrates features of
    [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo)
    tool and 

    [ReDoc](https://github.com/Rebilly/ReDoc) documentation engine. So beyond
    the standard OpenAPI syntax we use a few 

    [vendor
    extensions](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md).


    # columbusx.com API  Specification

    The goal of The columbusx.com API Specification is to define a standard,
    language-agnostic interface to REST APIs which

    allows both humans and computers to discover and understand the capabilities
    of the service without access to source

    code, documentation, or through network traffic inspection. When properly
    defined via OpenAPI, a consumer can 

    understand and interact with the remote service with a minimal amount of
    implementation logic. Similar to what

    interfaces have done for lower-level programming, OpenAPI removes the
    guesswork in calling the service.
externalDocs:
  description: Find out how to create Github repo for our columbusx.com API spec.
  url: columbusx.como
tags:
  - name: Echo
    description: columbusx.com operations
  - name: User
    description: Operations about user
servers:
  - url: 'http://api.columbusx.com/api/v1'
  - url: 'https://api.columbusx.com/api/v1'
